asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
django-tailwind
EasyProcess
entrypoint2
filelock
MouseInfo
mss
mysql-connector-python
package-name
Pillow
pipenv
platformdirs
protobuf
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
PyMySQL
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
sqlparse
tzdata
virtualenv
