{% extends 'base.html' %}

{% block content %}
<table class="table caption-top">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Book_Name</th>
        <th scope="col">Price</th>
        <th scope="col">Borrow_Date</th>
        <th scope="col">Return_Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for b in  borrowing_history %}
      <tr>
        <td>{{ b.id }}</td>
        <td>{{ b.book.title }}</td>
        <td>{{ b.book.borrowing_price }}</td>
        <td>{{ b.BorrowingHistory.returned_amount }}</td>
        <td>{{ b.borrowing_date }}</td>
        <td>{{ b.returned_date }}</td>
        <td>{{ b.book.action }}</td>
        <td action="{{ b.book.action }}">
            <a href="{% url 'return_book' id=b.id %}" class="btn btn-warning">Return_book</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
